@define-color background #241b30;
@define-color foreground #00fbfd;
@define-color black #241b30;
@define-color red #e60a70;
@define-color green #00986c;
@define-color yellow #adad3e;
@define-color blue #6e29ad;
@define-color magenta #b300ad;
@define-color cyan #00b0b1;
@define-color white #b9b1bc;
@define-color bright_black #7f7094;
@define-color bright_red #e60a70;
@define-color bright_green #0ae4a4;
@define-color bright_yellow #f9f972;
@define-color bright_blue #aa54f9;
@define-color bright_magenta #ff00f6;
@define-color bright_cyan #00fbfd;
@define-color bright_white #f2f2e3;
